@use "../styles/variables/colors";

#about {
    // Le overflow-y est nécessaire pour cacher les projets au-dessus
    background-color: colors.$main;
    position: relative;
    padding-bottom: 10vh;

    // After servant à éviter un bug d'affichage dans le background-color entre deux sections
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        background-color: colors.$main;
        display: block;
        z-index: 0;
    }

    h2 {
        padding-top: 12vh;
    }

    .about-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 50vw;
        gap: 2rem;
        padding: 8vh 0;
        margin: 0 auto;

        .about-content__text {
            h3 {
                font-size: 2rem;
                margin-bottom: 1.25rem;
            }

            p:last-child {
                margin-top: 1rem;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .about-content {
            flex-direction: column;
            max-width: 70vw;
            text-align: center;

            img {
                width: 45vw;
            }
            .about-content__text h3 {
                font-size: 1.5rem;
            }
        }
    }
}
