@use "../styles/variables/_colors";

.burger {
    .burger-toggle {
        z-index: 4;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        cursor: pointer;

        // Sert à agrandir la zone de hover
        &::before {
            content: "";
            width: 5rem;
            height: 4rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        // Le after est affiché au clic
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            background-color: colors.$secondary;
            transition: width 0.2s ease-out, height 0.2s ease-out;
        }

        // Ce span désigne la barre du milieu du bouton burger
        span:not(.burger-background) {
            z-index: 6;
            display: block;
            background-color: colors.$white;
            width: 45px;
            height: 5px;
            display: block;
            border-radius: 100vw;
            transition: transform 0.2s ease-in-out;

            // Les before et after sont les barres du haut et du bas du bouton burger
            &::before,
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-color: colors.$white;
                border-radius: 5px;
                transition: transform 0.5s, top 0.5s;
            }
            &::before {
                top: -12px;
            }
            &::after {
                top: 12px;
            }
        }

        // On affiche le fond du menu burger qu'au hover
        .burger-background {
            width: 0;
            height: 0;
            border-radius: 100%;
            background-color: colors.$secondary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: width 0.2s ease-out, height 0.2s ease-out;
        }
        &:hover > .burger-background {
            animation: 0.4s ease-in burger-background-bounce;
            width: 6rem;
            height: 6rem;
        }
    }

    // Le menu n'est affiché qu'avec la classe open
    .burger-menu {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        z-index: 6;
        animation: 0.2s burger-opacity-off forwards;

        img[alt="Logo blanc"] {
            height: 10rem;
        }
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 1.5rem 0 1rem 0;
            li a {
                text-decoration: none;
                font-weight: bold;
                font-size: 1.5rem;
                letter-spacing: 1px;
                position: relative;
                user-select: none;

                // Les barres sous les liens sont créées en pseudo-éléments, permettant plus de contrôle sur les animations au hover
                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: colors.$white;
                    position: absolute;
                    bottom: 0;
                    transition: width 0.2s ease-in-out;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }

        .socials {
            display: flex;
            gap: 0.75rem;
            a {
                width: 40px;
                height: 40px;
                img {
                    height: fit-content;
                }
            }
        }
    }

    &.open {
        // Une fois le menu ouvert, on fait tourner les barres du bouton avec une petite animation pour former une croix
        .burger-toggle span:not(.burger-background) {
            transform: rotate(45deg);
            &::before {
                transform: rotate(90deg);
                top: 0;
            }
            &::after {
                transform: rotate(90deg);
                top: 0;
            }
        }

        // Le after prend maintenant tout l'écran
        .burger-toggle::after {
            width: 400vw;
            height: 400vw;
            transition-duration: 0.5s;
            cursor: default;
        }

        // Le menu s'affiche
        .burger-menu {
            opacity: 1;
            visibility: visible;
            transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
        }
    }

    @media screen and (max-width: 1024px) {
        .burger-toggle {
            span:not(.burger-background) {
                width: 25px;
                height: 3px;
                &::before {
                    top: -8px;
                }
                &::after {
                    top: 8px;
                }
            }

            &:hover > .burger-background {
                animation: 0;
                width: 0;
                height: 0;
            }
        }

        &.open .burger-toggle {
            // On passe les vw en vh, qui est maintenant l'unité de mesure la plus grande
            &::after {
                width: 400vh;
                height: 400vh;
            }
        }
    }
}

// Cette animation modifie le comportement d'apparition du cercle de fond au hover du bouton
@keyframes burger-background-bounce {
    0% {
        width: 0;
        height: 0;
    }
    40% {
        width: 7.5rem;
        height: 7.5rem;
    }
    100% {
        width: 6rem;
        height: 6rem;
    }
}
