.burger .burger-toggle {
  z-index: 4;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}
.burger .burger-toggle::before {
  content: "";
  width: 5rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger .burger-toggle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: var(--secondary);
  transition: width 0.2s ease-out, height 0.2s ease-out;
}
.burger .burger-toggle span:not(.burger-background) {
  z-index: 6;
  display: block;
  background-color: var(--white);
  width: 45px;
  height: 5px;
  display: block;
  border-radius: 100vw;
  transition: transform 0.2s ease-in-out;
}
.burger .burger-toggle span:not(.burger-background)::before, .burger .burger-toggle span:not(.burger-background)::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 5px;
  transition: transform 0.5s, top 0.5s;
}
.burger .burger-toggle span:not(.burger-background)::before {
  top: -12px;
}
.burger .burger-toggle span:not(.burger-background)::after {
  top: 12px;
}
.burger .burger-toggle .burger-background {
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: var(--secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-out, height 0.2s ease-out;
}
.burger .burger-toggle:hover > .burger-background {
  animation: 0.4s ease-in burger-background-bounce;
  width: 6rem;
  height: 6rem;
}
.burger .burger-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
  animation: 0.2s burger-opacity-off forwards;
}
.burger .burger-menu img[alt="Logo blanc"] {
  height: 10rem;
}
.burger .burger-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0 1rem 0;
}
.burger .burger-menu ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.burger .burger-menu ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  transition: width 0.2s ease-in-out;
}
.burger .burger-menu ul li a:hover::after {
  width: 100%;
}
.burger .burger-menu .socials {
  display: flex;
  gap: 0.75rem;
}
.burger .burger-menu .socials a {
  width: 40px;
  height: 40px;
}
.burger .burger-menu .socials a img {
  height: -moz-fit-content;
  height: fit-content;
}
.burger.open .burger-toggle span:not(.burger-background) {
  transform: rotate(45deg);
}
.burger.open .burger-toggle span:not(.burger-background)::before {
  transform: rotate(90deg);
  top: 0;
}
.burger.open .burger-toggle span:not(.burger-background)::after {
  transform: rotate(90deg);
  top: 0;
}
.burger.open .burger-toggle::after {
  width: 400vw;
  height: 400vw;
  transition-duration: 0.5s;
  cursor: default;
}
.burger.open .burger-menu {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
}
@media screen and (max-width: 1024px) {
  .burger .burger-toggle span:not(.burger-background) {
    width: 25px;
    height: 3px;
  }
  .burger .burger-toggle span:not(.burger-background)::before {
    top: -8px;
  }
  .burger .burger-toggle span:not(.burger-background)::after {
    top: 8px;
  }
  .burger .burger-toggle:hover > .burger-background {
    animation: 0;
    width: 0;
    height: 0;
  }
  .burger.open .burger-toggle::after {
    width: 400vh;
    height: 400vh;
  }
}

@keyframes burger-background-bounce {
  0% {
    width: 0;
    height: 0;
  }
  40% {
    width: 7.5rem;
    height: 7.5rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}/*# sourceMappingURL=Burger.css.map */