@use "./variables/colors";

.fast-travel {
    position: fixed;
    top: 50%;
    right: 4vw;
    transform: translateY(-50%);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.5s ease-out;
    z-index: 4;

    li {
        position: relative;
        border-radius: 100%;

        a {
            display: block;
            border-radius: 100%;
            width: 2.5vw;
            aspect-ratio: 1/1;
            border: 2px solid colors.$white;

            // Les before indiquent le hover
            &::before {
                content: "";
                width: 2.5vw;
                aspect-ratio: 1/1;
                background-color: colors.$white;
                position: absolute;
                border-radius: 100%;
                left: 0;
                top: 0;
                clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
                transition: clip-path 0.2s ease-out;
            }
            // Le clip-path les affiche au hover
            &:hover::before {
                clip-path: polygon(100% 0, 0 100%, 100% 100%);
            }
            // La section actuellement affichée a elle aussi droit à un before même sans hover
            &.current::before {
                clip-path: polygon(100% 0, 0 100%, 100% 100%);
            }

            // Les after sont des demi-cercle indiquant la section actuellement visionnée
            &::after {
                content: "";
                width: 2.5vw;
                aspect-ratio: 1/1;
                background-color: colors.$white;
                position: absolute;
                border-radius: 100%;
                left: 0;
                top: 0;
                clip-path: polygon(0 0, 0 0, 0 0);
                transition: clip-path 0.2s ease-out;
            }
            // Le pseudo-élément n'est affichée qu'avec la bonne classe
            &.current::after {
                clip-path: polygon(0 0, 0% 105%, 105% 0);
            }
        }

        // Chaque cercle a un before apparaissant au hover et montrant le titre de la section survolée
        &::before {
            content: "Accueil";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: fit-content;
            white-space: nowrap;
            font-weight: bold;
            opacity: 0;
            right: 1vw;
            transition: right 0.2s ease-out, opacity 0.2s ease-out;
            pointer-events: none;
        }
        &:nth-of-type(2)::before {
            content: "Compétences";
        }
        &:nth-of-type(3)::before {
            content: "Projets";
        }
        &:nth-of-type(4)::before {
            content: "À Propos";
        }
        &:nth-of-type(5)::before {
            content: "Contact";
        }
        &:hover::before {
            opacity: 1;
            right: 3.5vw;
        }

        // Ces after sont les barres verticales entre chaque cercle
        &::after {
            content: "";
            width: 2px;
            height: 2vw;
            background-color: colors.$white;
            position: absolute;
            left: 50%;
        }
        &:last-of-type::after {
            display: none;
        }
    }

    // En tablette et mobile, ce composant n'est pas affiché
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
