nav {
    position: fixed;
    z-index: 5;
    top: 2rem;
    left: 4vw;
    right: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    // Permet de cliquer sur les liens derrière l'espace vide de la nav
    * {
        pointer-events: all;
    }

    & > .logo-link {
        transition: 0.2s opacity;
        width: 5vw;
    }

    img {
        height: 11.5svh;
        transition: opacity 0.2s;
        pointer-events: none;
    }

    @media screen and (max-width: 768px) {
        height: 4rem;

        .logo-link {
            img {
                height: 10vh;
                width: auto;
            }
        }
    }
}
