@use "../styles/variables/colors";

// Les images de fond sont passées par le JS
:root {
    --project-pic: linear-gradient(rgba(44, 37, 62, 0.7), rgba(44, 37, 62, 0.7)),
        url("../assets/images/hero-placeholder.png");
    --background-size: 130%;
}

.projects-item {
    display: flex;
    justify-content: center;
    padding: 30vh 13vw 1vh 13vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: clip;
    max-height: 0;

    // On ne déplie le projet qu'avec la bonne classe
    &.open {
        max-height: 1000px;
    }

    // Le before sert de fond à bords arrondis, il utilise comm$e image de fond les paramètres transmis en variables
    &::before {
        content: "";
        position: absolute;
        top: 0;
        border: colors.$secondary 10px solid;
        border-bottom: none;
        border-radius: 100% 100% 0 0;
        width: clamp(800px, 120vw, 120vw);
        height: 180vh;
        overflow-y: hidden;
        background-image: var(--project-pic);
        background-position: center top;
        background-size: var(--background-size);
        z-index: -1;
    }

    &:first-of-type::before {
        border: none;
    }

    h3 {
        position: absolute;
        top: 10vh;
        padding: 2vh 4rem;
        font-size: 2.5rem;
        letter-spacing: 2px;
        user-select: none;
        cursor: pointer;
    }

    .projects-item__content {
        display: none;
        align-items: center;
        max-width: 70vw;
        user-select: none;
        gap: 7.25vw;

        &.open {
            display: flex;
            user-select: auto;
        }

        .projects-item__details {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .projects-item__techs {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                user-select: none;
                gap: 0.75rem;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: colors.$white;
                    color: colors.$main;
                    font-weight: 700;
                    font-size: 1rem;
                    padding: 0.75rem;
                    border-radius: 50px;
                    height: 2.75rem;
                    font-size: 1.2vw;
                    gap: 0.5rem;

                    img {
                        width: 1.6vw;
                        max-height: 1.6vw;
                    }

                    span {
                        color: colors.$main;
                    }
                }
            }

            .project-item__links {
                display: flex;
                gap: 1rem;

                img {
                    width: clamp(2rem, 3vw, 3vw);
                    height: clamp(2rem, 3vw, 3vw);
                }
            }
        }

        .projects-item__pic {
            width: 30vw;
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 16vh 13vw 0 13vw;

        &::before {
            height: clamp(1024px, 100vw, 100vw);
            border-width: 5px;
        }

        h3 {
            font-size: 1.4rem;
            top: 6vh;
            padding: 2vh 0;
        }

        .projects-item__content {
            flex-direction: column-reverse;
            gap: 0.5rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;

            .projects-item__details {
                gap: 1rem;

                .projects-item__techs {
                    gap: 4px;

                    li {
                        width: 1.2rem;
                        height: 1.2rem;
                        padding: 3px;
                        position: relative;

                        img {
                            width: 75%;
                            height: 75%;
                            max-height: none;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        span {
                            display: none;
                        }
                    }
                }

                p {
                    font-size: 0.8rem;
                }

                .project-item__links {
                    gap: 0.5rem;
                }
            }

            .projects-item__pic {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &::before {
            height: 120vh;
        }

        h3 {
            font-size: 1.25rem;
        }
    }
}
