#skills {
    padding: 4rem 0;
    position: relative;

    @media screen and (max-width: 768px) {
        margin: 2rem 0;

        h2 {
            left: 5.5vw;
            font-size: 7vw;
            transform: none;
        }
    }
}
