@import 'tailwindcss';

@layer base {
    .font-montserrat {
        font-family: var(--font-montserrat);
    }
}

:root {
    --primary: #110f1e;
    --secondary: #2c253e;
    --accent: #714e97;
    --white: #fdfdfe;
}

html,
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--primary);
    color: var(--white);
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(0, 0, 0, 0);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--white);
        border-radius: 5px;
    }
}

.markdown p:not(:last-child, :has(+ ul, + ol)) {
    margin-bottom: 1rem;
}
