// Ces données sont beaucoup réutilisées
$about-links-size: 1.25rem;
$about-links-size-mobile: 1rem;
#contact {
    .about-link {
        // Les before sont les barres verticales au-dessus de chaque élément de contact
        &::before {
            content: '';
            width: 1px;
            height: 3rem;
            display: block;
            background-color: var(--white);
            position: absolute;
            top: -3rem;
            left: 50%;
            transform: translateX(-50%);
        }
        // Les after sont les barres horizontales en-dessous de chaque élément, collées au before suivant
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--white);
            position: absolute;
            bottom: 0;
        }

        // Au hover, on augmente la taille de sélection des éléments avec un autre pseudo-élément
        &:hover {
            a::after {
                content: '';
                width: $about-links-size;
                height: 100%;
                position: absolute;
                right: -$about-links-size;
                top: 0;
                background-color: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .about-link {
            &:hover {
                a::after {
                    content: none;
                }
            }

            &::before {
                left: 0;
                transform: none;
            }
        }
    }
}
